#
# This workflow calls the main distribution pipeline from DuckDB to build, test and (optionally) release the extension
#
name: Main Extension Distribution Pipeline
on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' && github.sha || '' }}
  cancel-in-progress: true

jobs:
  duckdb-stable-build:
    name: Build extension binaries
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.4.4
    with:
      duckdb_version: v1.4.4
      ci_tools_version: v1.4.4
      exclude_archs: 'wasm_mvp;wasm_eh;wasm_threads;windows_amd64_rtools;windows_amd64_mingw'
      extension_name: metastore
      extra_toolchains: parser_tools
      extra_extension_config: |
        find_program(CCACHE_PROGRAM ccache)
        if(CCACHE_PROGRAM)
            set(ENV{VCPKG_KEEP_ENV_VARS} "CCACHE_DIR;CCACHE_MAXSIZE;CCACHE_NOCOMPRESS;CC;CXX;PATH")
            set(ENV{VCPKG_CMAKE_CONFIGURE_OPTIONS} "-DCMAKE_C_COMPILER_LAUNCHER=ccache;-DCMAKE_CXX_COMPILER_LAUNCHER=ccache")
        endif()

  code-quality-check:
    name: Code Quality Check
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_code_quality.yml@v1.4.4
    with:
      duckdb_version: v1.4.4
      ci_tools_version: v1.4.4
      extension_name: metastore
      extra_toolchains: parser_tools
      # TODO: format_checks += ;tidy
      format_checks: format 
